body{
    margin: 0px;
    background-image: url(img/bg.png);
    font-family: arial;
    background-color: rgb(122, 29, 29);
}
h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #dadada;
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    padding-top: 80px;
}

.area-komputer {
    background-color: rgb(8, 38, 48);
}

.area-player {
    background-color: rgb(28, 82, 28);
}

.info {
    width: 44%;
    height: 50px;
    border: 5px solid rgb(48, 89, 90);
    position: absolute;
    top: 17%;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    display: inline-block;
    margin: 10px auto;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.batu, .gunting, .kertas {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.batu:hover, .kertas:hover, .gunting:hover, .active {
    box-shadow: 0 0 10px 5px limegreen;
}

.batu:active, .kertas:active, .gunting:active {
    top: 2px;
}
